{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-success">
                <h3 class="card-title"><i class="fas fa-plus"></i> {{ page_title }}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Hostel Name *</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Hostel Type *</label>
                                {{ form.hostel_type }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Address *</label>
                        {{ form.address }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Rooms *</label>
                                {{ form.total_rooms }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Rooms Per Floor</label>
                                {{ form.rooms_per_floor }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Capacity *</label>
                                {{ form.capacity }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Warden *</label>
                                {{ form.warden }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Number</label>
                                {{ form.contact_number }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Facilities</label>
                        {{ form.facilities }}
                        <small class="form-text text-muted">WiFi, Gym, Mess, Library, etc.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-save"></i> Add Hostel
                    </button>
                    <a href="{% url 'manage_hostels' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
