{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-warning">
                <h3 class="card-title"><i class="fas fa-plus"></i> {{ page_title }}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Scholarship Name *</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Scholarship Type *</label>
                                {{ form.scholarship_type }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Description *</label>
                        {{ form.description }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount (₹) *</label>
                                {{ form.amount }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Minimum CGPA</label>
                                {{ form.minimum_cgpa }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Application Start Date *</label>
                                {{ form.application_start_date }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Application End Date *</label>
                                {{ form.application_end_date }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Eligibility Criteria</label>
                        {{ form.eligibility_criteria }}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning btn-lg">
                        <i class="fas fa-save"></i> Create Scholarship
                    </button>
                    <a href="{% url 'manage_scholarships' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
