{% extends "hod_template/base.html" %}
{% block page_title %}
Bulk Student Upload
{% endblock page_title %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Bulk Student Upload</h3>
                    </div>
                    <div class="card-body">
                        <p>This feature is currently under development.</p>
                        <p>You will be able to upload a CSV file here to add multiple students at once.</p>
                        <a href="{% url 'user_management_hub' %}" class="btn btn-primary">Back to User Management</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}