{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-warning">
                <h3 class="card-title"><i class="fas fa-edit"></i> {{ page_title }}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Book Title *</label>
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>ISBN</label>
                                {{ form.isbn }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Author *</label>
                                {{ form.author }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Publisher</label>
                                {{ form.publisher }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Category *</label>
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Stock *</label>
                                {{ form.total_stock }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Available Stock</label>
                                {{ form.available_stock }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning btn-lg">
                        <i class="fas fa-save"></i> Update Book
                    </button>
                    <a href="{% url 'manage_library' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to Library
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
