{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-warning">
                <h3 class="card-title"><i class="fas fa-edit"></i> {{ page_title }}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Program Name *</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Program Code</label>
                                {{ form.code }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Program Type *</label>
                                {{ form.program_type }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department *</label>
                                {{ form.department }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Duration (Years) *</label>
                                {{ form.duration_years }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Seats</label>
                                {{ form.total_seats }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Accreditation</label>
                                {{ form.accreditation }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Description</label>
                        {{ form.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning btn-lg">
                        <i class="fas fa-save"></i> Update Program
                    </button>
                    <a href="{% url 'manage_programs' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to Programs
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
