{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-warning">
                <h3 class="card-title"><i class="fas fa-edit"></i> {{ page_title }} - {{ classroom.room_number }}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Room Number *</label>
                                {{ form.room_number }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Room Name</label>
                                {{ form.room_name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Room Type *</label>
                                {{ form.room_type }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Building</label>
                                {{ form.building }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Floor *</label>
                                {{ form.floor }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Capacity *</label>
                                {{ form.capacity }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Department</label>
                        {{ form.department }}
                    </div>
                    
                    <h6 class="mt-3">Facilities</h6>
                    <div class="row">
                        <div class="col-md-4">{{ form.has_projector }} Projector</div>
                        <div class="col-md-4">{{ form.has_ac }} AC</div>
                        <div class="col-md-4">{{ form.has_wifi }} WiFi</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">{{ form.has_audio_system }} Audio System</div>
                        <div class="col-md-4">{{ form.has_whiteboard }} Whiteboard</div>
                        <div class="col-md-4">{{ form.has_computers }} Computers</div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Number of Computers</label>
                                {{ form.computer_count }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6">{{ form.is_available }} Available for Booking</div>
                        <div class="col-md-6">{{ form.is_under_maintenance }} Under Maintenance</div>
                    </div>
                    
                    <div class="form-group mt-3">
                        <label>Remarks</label>
                        {{ form.remarks }}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning btn-lg">
                        <i class="fas fa-save"></i> Update Classroom
                    </button>
                    <a href="{% url 'manage_classrooms' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}


