{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            {% if request.user.profile_pic %}
                            <img class="profile-user-img img-fluid img-circle" src="{{ request.user.profile_pic.url }}" alt="Profile">
                            {% else %}
                            <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/user.png' %}" alt="Profile">
                            {% endif %}
                        </div>
                        <h3 class="profile-username text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                        <p class="text-muted text-center">{{ management.designation }}</p>
                        
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Employee ID</b> <span class="float-right">{{ management.employee_id|default:"Not Set" }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b> <span class="float-right">{{ management.department }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <span class="float-right">{{ request.user.email }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Mobile</b> <span class="float-right">{{ management.mobile_number|default:"-" }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title"><i class="fas fa-user"></i> Profile Information</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" name="first_name" value="{{ request.user.first_name }}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" value="{{ request.user.last_name }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" value="{{ request.user.email }}" class="form-control" readonly>
                                <small class="form-text text-muted">Email cannot be changed</small>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Designation</label>
                                        <input type="text" name="designation" value="{{ management.designation }}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <input type="text" name="department" value="{{ management.department }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" name="mobile_number" value="{{ management.mobile_number }}" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" name="profile_pic" class="form-control" accept="image/*">
                            </div>
                            
                            <div class="form-group">
                                <label>Address</label>
                                <textarea name="address" class="form-control" rows="3">{{ request.user.address }}</textarea>
                            </div>
                            
                            <hr>
                            <h5>Change Password</h5>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Leave blank to keep current password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-save"></i> Update Profile
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
